.app-background {
  background-size: cover;   /* scale to fill screen */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;            /* full screen height */
  width: 100vw;             /* full screen width */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.698); /* dark layer */
}

.content {
  position: relative; /* makes sure text stays above overlay */
  
  padding: 2rem;
}